In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np

In [4]:
p0 = pd.read_csv('police_mini.csv')
p0.head()

,Unnamed: 0,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,...,IncidentID,CAD_Num,Report Type Code,Report Type Description,Filed Online,Incident Code,Incident Subcategory,Police District,Analysis Neighborhood,Supervisor District
0,46668,180000417,ASSAULT,BATTERY,Sunday,12/31/17,23:58,SOUTHERN,NONE,800 Block of BRYANT ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,46669,180000069,ASSAULT,AGGRAVATED ASSAULT WITH A KNIFE,Sunday,12/31/17,23:56,TENDERLOIN,"ARREST, BOOKED",500 Block of JONES ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46672,186005077,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Sunday,12/31/17,23:55,MISSION,NONE,500 Block of VALENCIA ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,46673,176001461,LARCENY/THEFT,PETTY THEFT OF PROPERTY,Sunday,12/31/17,23:50,SOUTHERN,NONE,700 Block of HARRISON ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,46674,180000025,DRUNKENNESS,UNDER INFLUENCE OF ALCOHOL IN A PUBLIC PLACE,Sunday,12/31/17,23:46,NORTHERN,"ARREST, BOOKED",HEMLOCK ST / POLK ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
p0.columns

Index(['Unnamed: 0', 'IncidntNum', 'Category', 'Descript', 'DayOfWeek', 'Date',
       'Time', 'PdDistrict', 'Resolution', 'Address', 'X', 'Y', 'Location',
       'PdId', 'SF Find Neighborhoods', 'Current Police Districts',
       'Current Supervisor Districts', 'Analysis Neighborhoods', 'Year',
       'Report_Datetime', 'RowID', 'IncidentID', 'CAD_Num', 'Report Type Code',
       'Report Type Description', 'Filed Online', 'Incident Code',
       'Incident Subcategory', 'Police District', 'Analysis Neighborhood',
       'Supervisor District'],
      dtype='object')

In [8]:
p0_location = p0.Location.value_counts().head(10)
p0_location

(37.775420706711, -122.40340479147905)       6
(37.78698818853082, -122.41069965763408)     2
(37.788452157813204, -122.42032699386301)    2
(37.7634850137846, -122.4342290039533)       1
(37.76435775168604, -122.41747701285014)     1
(37.777311027403265, -122.4086487351704)     1
(37.78609571815858, -122.46134942159891)     1
(37.7828276498838, -122.40970842372067)      1
(37.78351007154212, -122.40539549393928)     1
(37.784076220556535, -122.48072637090915)    1
Name: Location, dtype: int64

## <span style="color:red"> Question 1: How do I show the "address" of the "location" above?

In [10]:
temp = pd.read_csv('temp_mini.csv')
temp.head()

       STATION                                        NAME     DATE  TAVG
0  USW00023234  SAN FRANCISCO INTERNATIONAL AIRPORT, CA US  12/1/17    54
1  USW00023234  SAN FRANCISCO INTERNATIONAL AIRPORT, CA US  12/2/17    53
2  USW00023234  SAN FRANCISCO INTERNATIONAL AIRPORT, CA US  12/3/17    55
3  USW00023234  SAN FRANCISCO INTERNATIONAL AIRPORT, CA US  12/4/17    55
4  USW00023234  SAN FRANCISCO INTERNATIONAL AIRPORT, CA US  12/5/17    57

## <span style='color:red'> Question 2: How do I show this graph together with the number of crimes on each day, to find out if there's correlation between temperature and number of crimes? FYI, the police dataset here contains crimes happened on 12/25/2017 and 12/31/2017. The temperature dataset contains daily temperature in December 2017.